.home {
  width: 100%;
  align-items: center;
  font-family: "Arial", sans-serif;
  color: #3e497a;
}

.about {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #21325e;
  color: #f0f0f0;
}

.about h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 4.6rem;
  color: #e9d35b;
}

.about .prompt {
  width: 60%;
  font-size: 1.8rem;
}

.prompt p {
  margin-top: -1rem;
}
.prompt svg {
  font-size: 3.8rem;
  margin: 5px;
  color: white;
}

.skills {
  font-size: 2.1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills h2 {
  color: #3e497a;
}

.skills .list {
  list-style: none;
  width: 60%;
  margin-top: 0;
}

.skills h3 {
  margin-bottom: 0.5rem;
}

.list span {
  font-size: 1.2rem;
}

@media only screen and (max-width: 600px) {
  .about h1 {
    font-size: 3.5rem;
    margin-inline: 0.6rem;
  }

  .about .prompt {
    margin-top: 10px;
    font-size: 1.8rem;
    width: 80%;
  }
  .skills {
    text-align: center;
  }
  .list {
    padding: 0;
  }

  .headline {
    font-size: 1.8rem;
  }
}

/* @media (max-width: ) */
